.home {
    
    background-image: url("https://estaticos.qdq.com/swdata/home_photos/389/389154911/c22e27f83dc640f2a5bb0ed4417b44ff.jpg");
    height: 41em;
    
    background-size: cover;
    background-position: center;
   }
   


.logout{
    margin-left: 7em;
    font-size: x-large ;
    font-weight: bold;
    color: rgba(192, 8, 8, 0.945)
}