.home {
    
    background-image: url("https://estaticos.qdq.com/swdata/home_photos/389/389154911/c22e27f83dc640f2a5bb0ed4417b44ff.jpg");
    height: 100vh;
  width: 100vw;
    
    background-size: cover;
    background-position: center;
    
   }
   
.leitmotiv {
    margin-left: 8em;
}

.clinicatext{
    margin: 8em 26em 0em 22em;
    background-color: rgba(13, 120, 182, 0.74);
    padding: 1.5em;
    border-radius: 0.9em;
    box-shadow: inset rgba(0, 0, 0, 0.652) 0.2em 0.1em 1em 0.1em;
    a {
        color: white;
    }
    
}


.logout{
    margin-left: 7em;
    font-size: x-large ;
    font-weight: bold;
    color: rgba(192, 8, 8, 0.945)
}

