


  .appointmentprofile{
    display: flex;
    flex-direction: column;
    color: #84a9ac;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-content: space-between;
    background-image: url("https://estaticos.qdq.com/swdata/home_photos/389/389154911/c22e27f83dc640f2a5bb0ed4417b44ff.jpg");
   
    height: 100vh;
    width: 100vw;
  }
  
  .appointmentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    
  
    .cardAppointment {
        padding: 2vh;
        border-radius: 1em;
        margin: 2em;
        background-color: #002382bb;
        text-align: center;
        display: flex;
        flex-direction: column;
        vertical-align: middle
    }
    .title{
      padding: 2.5vh;
      background-color: #99e9f053;
      text-align: left;
      display: flex;
      flex-direction: column;
      vertical-align: left;
      color:  #000000;
    }
  
    .buttonApp{
      display: flex;
      justify-content: center;
      background-color:#e376c4c4;
      border-radius:0.1em;
      display:inline-block;
      color:#500303;
    }

    .buttonApp:hover{
      background-color:rgb(164, 14, 14);
      color:black;
    }
  
  }
  
  