.header {
    display: flex;
    justify-content: center;
    align-content: space-between;
    background-color: rgba(233, 219, 219, 0.459);
    box-shadow: inset rgba(50, 51, 50, 0.658) 0.2em 0.1em 1em 0.1em;
    color: rgb(36, 35, 35);
    height: 10vh;
    width:100vw;
    font-size: 3vh;
    padding: 3vh 0vh 0vh 3vh;
   a {
        all: unset;
        cursor: pointer;

  
        margin-left: 5vh;
        margin-right: 5vh;
        
        }
    
  }

  .logout{
    
   color: rgba(165, 6, 6, 0.815);
   
  }

  .logout:hover{
    color:rgb(255, 255, 255);
  }

  