.header {
    display: flex;
    justify-content: center;
    align-content: space-between;
    background-color: rgba(233, 219, 219, 0.459);
    box-shadow: inset rgba(50, 51, 50, 0.658) 0.2em 0.1em 1em 0.1em;
    color: rgb(36, 35, 35);
    border-radius: 0.5em;
    height: 20vh;
    font-size: 6vh;
    padding: 2vh 0vh 0vh 3vh;
   a {
        all: unset;
        cursor: pointer;
        font-size: 6vh;
  
        margin-left: 5vh;
        }
    
  }

  .logout{
    color: rgb(36, 35, 35);
    border-radius: 0.5em;
    background-color: rgba(54, 128, 177, 0.822) ;
    font-size: 6vh;
    padding: 0.6vh;
    margin-right: 1vh;
    border: inset 1.5vh rgba(54, 138, 194, 0.733) ;
    box-shadow: inset rgba(50, 51, 50, 0.658) 0.2em 0.1em 1em 0.1em;

  }

  .logo{
    
    background-image: url("/src/img/header.jpg");
    background-size: cover;
    margin: -2vh 0vh 5vh 40.6vh;
    width: 60vh;
    border-radius: 0.5em;
    height: 20vh;
    box-shadow: inset rgba(62, 66, 64, 0.548) 0.2em 0.1em 1em 0.1em;
}
  

  .logout:hover {
    background-color: rgba(143, 19, 10, 0.884);
    box-shadow: inset 0em 0em 0.8em 0.6em rgba(216, 103, 103, 0.527);
    transition: 0.3s;
    border: inset 1.5vh rgb(165, 33, 23) ;
    color: black;
  }

  